<!DOCTYPE html>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>大数据展示页</title>
</head>
<body>


<div id="app">
    <el-header>
        <el-menu
                :default-active="activeIndex2"
                class="el-menu-demo"
                mode="horizontal"

                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1">处理中心</el-menu-item>
            <el-submenu index="2">
                <template slot="title">我的工作台</template>
                <el-menu-item index="2-1">选项1</el-menu-item>
                <el-menu-item index="2-2">选项2</el-menu-item>
                <el-menu-item index="2-3">选项3</el-menu-item>
                <el-submenu index="2-4">
                    <template slot="title">选项4</template>
                    <el-menu-item index="2-4-1">选项1</el-menu-item>
                    <el-menu-item index="2-4-2">选项2</el-menu-item>
                    <el-menu-item index="2-4-3">选项3</el-menu-item>
                </el-submenu>
            </el-submenu>
            <el-menu-item index="3" >消息中心</el-menu-item>

        </el-menu>

    </el-header>
    <span style="margin: auto ">
            <el-button @click="sh" :disabled="isDisabled2" type="primary" round>手动爬取</el-button>
        </span>

    <el-main>
        <H3 >社交项目招聘模块相关数据展示
        </H3>

            <el-form :inline="true" :model="formInline" class="demo-form-inline">

                <el-form-item  style="width:110px" >
                    <el-select v-model="formInline.state" placeholder="请选择" >
                        <el-option label="用工方" value="1"></el-option>
                        <el-option label="共享方" value="2"></el-option>
                        <el-option label="人力机构" value="3"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item >
                    <el-input v-model="formInline.title" placeholder="输入您要搜索的岗位"></el-input>
                </el-form-item>


                <el-form-item label="时间筛选">
            <el-date-picker
                    v-model="DataSelect"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :picker-options="pickerOptions">
            </el-date-picker>
                </el-form-item>

                <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="click">搜索</el-button>
                </el-form-item>
            </el-form>

        <el-table v-if="formInline.state != 3"
                :data="tableData"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="jobName"
                    label="职业名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="公司名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="city"
                    label="所在地"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="发布日期"
                    :formatter="dateFormat">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                    <el-button type="text" size="small">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>


        <el-table v-if="formInline.state == 3"
                  :data="tableData"
                  stripe
                  style="width: 100%">
            <el-table-column
                    prop="linkName"
                    label="联系人"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="公司名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="country"
                    label="所在地"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="linkMobile"
                    label="手机号"
                    width="180" >
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                    <el-button type="text" size="small">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- 弹出窗 -->
        <el-dialog
                title="提示"
                :visible.sync="dialogVisible"
                width="30%"
                >
            <el-form  ref="dataForm" :model="formData" label-width="50px" label-position="right">
                <el-form-item label="标题" prop="title">
                    <el-input v-model="formData.title" placeholder="标题"></el-input>
                </el-form-item>
                <el-form-item label="作者" prop="author">
                    <el-input v-model="formData.author" placeholder="作者"></el-input>
                </el-form-item>
                <el-form-item label="类型" prop="type">
                    <el-select v-model="formData.type" placeholder="类型">
                        <el-option label="CN" value="CN"></el-option>
                        <el-option label="US" value="US"></el-option>
                        <el-option label="JP" value="JP"></el-option>
                        <el-option label="EU" value="EU"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
        <el-button >取 消</el-button>
        <el-button type="primary" >确 定</el-button>
      </span>
        </el-dialog>
        <!-- 弹出窗 / -->

        <el-pagination
                background
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="formInline.currentPage"
                :page-size="formInline.rows"
                :page-sizes="[10, 20, 30]"
                layout="sizes,prev, pager, next"
                :total="total">
        </el-pagination>

    </el-main>

    <el-footer>

        本页面未违反爬虫协议,如有问题请加我微信
        </el-footer>
</div>
<script>
    new Vue({
        el: '#app',

        data() {
            return {
                dialogVisible: false,
                DataSelect:'',
                formInline: {
                    title: '',
                    state: "1",
                    currentPage: 1,//默认显示第一页
                    rows:10
                },
                tableData: [],  //数据
                records:[],
                current:1,
                total: 1, //总页数
                formData:[],
                activeIndex: '1',
                activeIndex2: '1',
                isDisabled2:false,
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },

            };
        },
        created: function() {
            this.doQuery();
        },
        methods: {
            dateFormat: function(row, column){
                var date = row[column.property];
                //console.log(date)
                if (date === undefined) {
                    return "";
                }
                return new Date(date).toLocaleDateString('zh').replace(RegExp(/\//g),'-');
            },
            sh() {
                this.isDisabled2=true;
                axios.get('/gz/pa')
                    .then(response => {
                        if (response.data.status === 20) {
                            this.$message({
                                type:"success",
                                message:"爬取完毕"
                            })
                            this.doQuery();
                        }else {
                            this.$message({
                                type:"error",
                                message:"爬取失败"
                            })
                        }
                        this.isDisabled2=false;
                    })
            },
            handleClick(item) {
                // this.formData = {
                //     ...item
                // }
                this.dialogVisible = true;

            },
            doQuery(){
                axios.post('/gz/req', this.formInline)
                    .then(response => {
                        if (response.data.status === 20) {
                            this.tableData= response.data.data.records;
                            this.formInline.currentPage=response.data.data.current;
                            this.total=response.data.data.total;
                        }
                    })
            },
            handleSizeChange(val) {
                this.formInline.rows=val
                this.doQuery();
            },
            handleCurrentChange(val) {
                this.formInline.currentPage=val;
                this.doQuery();
            },
            click(){
                this.formInline.currentPage=1;
              if (this.DataSelect!=""||this.DataSelect!=undefined){
                  this.formInline.beginDate=this.DataSelect[0];
                  this.formInline.endDate=this.DataSelect[1];
              }
                this.doQuery();
            }
        }
    })
</script>
